pipeline/np_pl_dim_productcategories.json
{
	"name": "np_pl_dim_productcategories",
	"properties": {
		"activities": [
			{
				"name": "pl_pipeline_startinfo",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[Usp_Pipeline_Insert_Update_Status]",
					"storedProcedureParameters": {
						"PipelineErrorCode": {
							"value": "null",
							"type": "String"
						},
						"PipelineErrorMessage": {
							"value": "null",
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineStatus": {
							"value": "inprogress",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Sqlserver_np",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "lookup for tablename",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "pl_pipeline_startinfo",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderStoredProcedureName": "[dbo].[Usp_Get_Table_Config_Values]",
						"storedProcedureParameters": {
							"TableName": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.tablename",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "np_ds_sql_noparameter",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "pl_sp_truncate_staging_table",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "lookup for tablename",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_truncate_stagingtable]",
					"storedProcedureParameters": {
						"schemaname": {
							"value": {
								"value": "@activity('lookup for tablename').output.value[0].StagingSchemaName",
								"type": "Expression"
							},
							"type": "String"
						},
						"tablename": {
							"value": {
								"value": "@activity('lookup for tablename').output.value[0].StaingTableName",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "np_ls_sql_warehouse",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[Usp_Pipeline_Insert_Update_Status]",
					"storedProcedureParameters": {
						"PipelineErrorCode": {
							"value": "null",
							"type": "String"
						},
						"PipelineErrorMessage": {
							"value": "null",
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineStatus": {
							"value": "Completed",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Sqlserver_np",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "pl_sp_truncate_staging_table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlServerSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "np_ds_adventure2014",
						"type": "DatasetReference",
						"parameters": {
							"schemaname": {
								"value": "salesdata",
								"type": "Expression"
							},
							"tablename": {
								"value": "@activity('lookup for tablename').output.value[0].sourceviewname",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "np_ds_datawarehouse_sql",
						"type": "DatasetReference",
						"parameters": {
							"schemaname": {
								"value": "@activity('lookup for tablename').output.value[0].stagingschemaname",
								"type": "Expression"
							},
							"tablename": {
								"value": "@activity('lookup for tablename').output.value[0].staingtablename",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "sp_update_error_startpipelin",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "pl_pipeline_startinfo",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[Usp_Pipeline_Insert_Update_Status]",
					"storedProcedureParameters": {
						"PipelineErrorCode": {
							"value": {
								"value": "@activity('pl_pipeline_startinfo').error.errorcode",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineErrorMessage": {
							"value": {
								"value": "@activity('pl_pipeline_startinfo').error.message",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineStatus": {
							"value": "Error",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Sqlserver_np",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "pl_pipeline_truncateinfo",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "pl_sp_truncate_staging_table",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[Usp_Pipeline_Insert_Update_Status]",
					"storedProcedureParameters": {
						"PipelineErrorCode": {
							"value": {
								"value": "@activity('pl_sp_truncate_staging_table').error.errorcode",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineErrorMessage": {
							"value": {
								"value": "@activity('pl_sp_truncate_staging_table').error.message",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineStatus": {
							"value": "Error",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Sqlserver_np",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "pl_pipeline_copyinfo erro",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[Usp_Pipeline_Insert_Update_Status]",
					"storedProcedureParameters": {
						"PipelineErrorCode": {
							"value": {
								"value": "@activity('Copy data1').error.errorcode",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineErrorMessage": {
							"value": {
								"value": "@activity('Copy data1').error.message",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineStatus": {
							"value": "Error",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Sqlserver_np",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "sp_lookup_error_startpipelin",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "lookup for tablename",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[Usp_Pipeline_Insert_Update_Status]",
					"storedProcedureParameters": {
						"PipelineErrorCode": {
							"value": {
								"value": "@activity('lookup for tablename').error.errorcode",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineErrorMessage": {
							"value": {
								"value": "@activity('lookup for tablename').error.message",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineStatus": {
							"value": "Error",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Sqlserver_np",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"tablename": {
				"type": "string"
			}
		},
		"folder": {
			"name": "Narendra"
		},
		"annotations": [],
		"lastPublishTime": "2021-06-03T11:53:06Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}