pipeline/pl_dim_productcategory2.json
{
	"name": "pl_dim_productcategory2",
	"properties": {
		"activities": [
			{
				"name": "sp_insert_initialpipeline_status",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[Usp_Pipeline_Insert_Update_Status]",
					"storedProcedureParameters": {
						"PipelineErrorCode": {
							"value": "null",
							"type": "String"
						},
						"PipelineErrorMessage": {
							"value": "null",
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineStatus": {
							"value": "Inprogress",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_SqlServer_mahendra_configdb",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "lp_getdata_db",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "sp_insert_initialpipeline_status",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderStoredProcedureName": "[dbo].[Usp_Get_Table_Config_Values]",
						"storedProcedureParameters": {
							"TableName": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.tablename",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_mahemdra_configdb",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "sp_truncate_stagingtable",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "lp_getdata_db",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_truncate_stagingtable]",
					"storedProcedureParameters": {
						"schemaname": {
							"value": {
								"value": "@activity('lp_getdata_db').output.value[0].StagingSchemaName",
								"type": "Expression"
							},
							"type": "String"
						},
						"tablename": {
							"value": {
								"value": "@activity('lp_getdata_db').output.value[0].StaingTableName",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_datawarehouse_mahendra",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "cp_to_staging",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "sp_truncate_stagingtable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlServerSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_sql_mahendra_Adventure",
						"type": "DatasetReference",
						"parameters": {
							"schemaname": "salesdata",
							"tablename": {
								"value": "@activity('lp_getdata_db').output.value[0].sourceviewname",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_sqlserver_DWH_mahendra",
						"type": "DatasetReference",
						"parameters": {
							"schemaname": {
								"value": "@activity('lp_getdata_db').output.value[0].stagingschemaname",
								"type": "Expression"
							},
							"tablename": {
								"value": "@activity('lp_getdata_db').output.value[0].staingtablename",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "sp_completed_status",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "cp_to_staging",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[Usp_Pipeline_Insert_Update_Status]",
					"storedProcedureParameters": {
						"PipelineErrorCode": {
							"value": "Null",
							"type": "String"
						},
						"PipelineErrorMessage": {
							"value": "Null",
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineStatus": {
							"value": "Completed",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_SqlServer_mahendra_configdb",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"tablename": {
				"type": "string"
			}
		},
		"folder": {
			"name": "mahendra_Project"
		},
		"annotations": [],
		"lastPublishTime": "2021-06-04T11:46:49Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}